numpy
django
psycopg[binary]
python-ldap
django-auth-ldap
django-tables2
django-filter
django-bootstrap4
django-crispy-forms
django-simple-history
django-post_office
crispy-bootstrap4
openpyxl
tablib
portion
toml