{% load static %}
{% static "/js/"|add:activity.short|add:"_record.js" as recordjs%}
{% static "/js/popper.js" as popperjs%}
{% static "/css/jquery-ui.css" as css%}
{% static "/logo_cemes.png" as logo_cemes%}
{% static "/logo_"|add:activity.short|add:".png" as logo_activity%}

{% url "login" as login %}
{% url "logout" as logout %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1200, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static "/css/bootstrap.css"%}">
    <link rel="stylesheet" type="text/css" href="{{css}}">
    <script src="{% static "/js/jquery341.js"%}"></script>
    <script src="{% static "/js/popper.js"%}"></script>
    <script src="{% static "/js/bootstrap4.js"%}"></script>

    <script src="{% static "/js/jquery-ui.js"%}"></script>
    {% comment %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
			  integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
			  crossorigin="anonymous"></script>
    {% endcomment %}
    <script src="{% static "/js/base_record.js"%}"></script>
    <script src="{% static "/js/"|add:activity.short|add:"_record.js"%}"></script>

    <title>{{ activity.long }}</title>
  </head>
  <body>

    <div class="container-fluid ">
      <div class="row justify-content-center">
        <div class="col-0">
          <div class="row justify-content-center">
            <h1 class="mt-2">
              <img class="align-middle" src="{{logo_cemes}}" alt="" style="width:200px;height:200;">
              {{ activity.long }}
              <img class="align-middle" src="{{ logo_activity }}" alt="" style="width:200px;height:200;float: center">
            </h1>
          </div>
          <hr class="mt-0 mb-4">
          {% include 'lab/navbar.html' %}
          {% block content %}
          {% endblock %}
          <hr class="mt-0 mb-4">
          {% include 'lab/footer.html' %}
        </div>
      </div>
    </div>
  </body>
</html>